.mapa-y-redes {
    display: flex; /* Usa flexbox para alinear elementos horizontalmente */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
}

.mapa-y-redes iframe, .mapa-y-redes h1{
    margin: 20px auto;
}

.map-iframe {
    max-width: 100%;
}

@media (max-width: 500px) {
    .fa-brands, .fa-solid {
        padding-left: 0;
        padding-right: 0;
    }
    .fb-link, .ig-link, .wp-link, .gm-link {
        padding-left: 0;
    }
}
