body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    color: #333;
}

.nav-link {
    color: #003084 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #F9C440 !important;
    background-color: #003084 !important;
}

.nav-link, .nav-link.active {
    text-align: left;
}

.d-flex.align-items-start {
    align-content: space-between;
}

.nav.flex-column.nav-pills.me-3 {
    width: 25%;
}

.tab content {
    width: 75%;
}

#v-pills-tab {
    width: 25%;
    font-family: Barlow, sans-serif;
}

#v-pills-tabContent {
    width: 75%;
}

.container {
    padding-bottom: 30px;
}

.alinear {
    padding-bottom: 20px;
    padding-top: 20px;
}

.fa-solid.fa-check, .fa-solid.fa-exclamation {
    padding-right: 10px;
}

.img-service, .img-audi, .img-vento {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-audi, .img-vento {
    max-width: 49%;
}

@media (min-width: 992px) {
    .nav.flex-column.nav-pills.me-3 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .tab.content {
        width: 75%;
    }
}
