<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>VENNER Vinoteca</title>
</head> -->

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./img/slider1.jpg" class="d-block w-100" alt="img1">
              </div>
              <div class="carousel-item">
                <img src="./img/slider4.jpg" class="d-block w-100" alt="img2">
              </div>
              <div class="carousel-item">
                <img src="./img/slider3.jpg" class="d-block w-100" alt="img3">
              </div>
              <div class="carousel-item">
                <img src="./img/bridgestone_cut.jpg" class="d-block w-100" alt="img4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    
        <section id="introduction">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3">
                      <div class="item item-auto wow animated fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                          <a href="productos/automoviles--1" class="neumaticos-auto">
                              <img src="./img/bmw1.png" alt="Neumáticos Auto" class="img-responsive">
                          </a>
                          <h3><br><span>Autos<br>&nbsp;</span></h3>
                          <a class="btn btn-red" href="productos/automoviles--1">Ver Más</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="item wow animated fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                          <a href="productos/camionetas--2" class="neumaticos-4x4">
                              <img src="./img/f150raptor.jpg" alt="Neumáticos Camionetas" class="img-responsive">
                          </a>
                          <h3><br><span>Camionetas<br>&nbsp;</span></h3>
                          <a class="btn btn-red" href="productos/camionetas--2">Ver Más</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="item wow animated fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                          <a href="productos/camiones--3" class="neumaticos-camiones">
                              <img src="./img/volvo-fh-globetrotter-xl-bronze-2021.jpg" alt="Neumáticos camiones" class="img-responsive">
                          </a>
                          <h3><br><span>Camiones<br>&nbsp;</span></h3>
                          <a class="btn btn-red" href="productos/camiones--3">Ver Más</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="item wow animated fadeInUp animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                          <a href="productos/agricola--4" class="neumaticos-agro">
                              <img src="./img/johndeere.png" alt="Neumáticos Industrial &amp; Agrícola" class="img-responsive">
                          </a>
                          <h3><br><span>Agrícola &amp; Vial</span></h3>
                          <a class="btn btn-red" href="productos/agricola--4">Ver Más</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    
    <section class="marcas-inicio">
      <div class="container">
      <h1 class="text-center text-uppercase wow animated fadeInUp animated" data-wow-delay=".25s" 
      style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Nuestras marcas</h1>
      <ul class="list-unstyled list-inline wow animated fadeInUp animated" data-wow-delay=".5s" 
      style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <li class="marca">
          <img src="./img/fondo2_cut.jpg" alt="goodyear" class="img-responsive">
        </li>
        <li class="marca">
          <img src="./img/michelin_1600x790.jpg" alt="michelin" class="img-responsive">
        </li>
        <li class="marca">
          <img src="./img/Fate16.png" alt="fate" class="img-responsive">
        </li>
        <li class="marca">
          <img src="./img/Bridgestone_logo.png" alt="Bridgestone" class="img-responsive">
        </li>
        <br>
        <li class="marca">
          <img src="img/Firestone-Logo-cut.png" alt="Firestone" class="img-responsive">
        </li>
        <li class="marca">
          <img src="img/pirelli.png" alt="pirelli" class="img-responsive">
        </li>
      </ul>
    </div>
    </section>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
<script src="https://kit.fontawesome.com/c517ed82be.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>