<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/nosotros.css">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>NOSOTROS</title>
</head> -->

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <section>
        <div class="acerca">
            <div class="local-container">
                <br>
                <h1>Acerca nuestro</h1>
            </div>
            <div class="introduction">
                <p>
                    ¡Bienvenido a Neumáticos Santiago! Somos un establecimiento con más de tres décadas de experiencia dedicados a ofrecer la mejor calidad en productos y 
                    servicios automotrices en Santiago del Estero. En Neumáticos Santiago, nos enorgullece ser tu destino confiable para todas tus necesidades automotrices.
                </p>
            </div>
        </div>
    </section>

    <section style="text-align: center; padding: 20px;">
      <div style="max-width: 800px; margin: 0 auto;">
        <h2 style="color: #333; font-size: 24px;">Desde 1990 trabajamos para brindarte el mejor servicio</h2>
        <p class="bio">
          Desde nuestra fundación, en Santiago del Estero, nos enorgullece ser una empresa líder en la venta de neumáticos y llantas de alta calidad. En Neumáticos Santiago, 
          entendemos la importancia de mantener su vehículo seguro y en óptimo rendimiento, por lo que nos dedicamos a ofrecer productos confiables y servicios excepcionales.
          
          Nuestra misión es proporcionar a nuestros clientes una amplia gama de opciones de neumáticos y llantas de las mejores marcas del mercado. Nos esforzamos por mantenernos 
          a la vanguardia de la industria, ofreciendo las últimas innovaciones y tecnologías para satisfacer las necesidades cambiantes de nuestros clientes.
          
          Lo que nos distingue es nuestro compromiso inquebrantable con la calidad y el servicio al cliente. Nuestro experimentado equipo está aquí para asesorarte y asegurarse 
          de que encuentres las mejores opciones para tu vehículo, ya sea que busques neumáticos de alto rendimiento, llantas elegantes o soluciones especializadas.
          
        </p>
        <p class="bio">
          En Neumáticos Santiago, no solo vendemos neumáticos y llantas, construimos relaciones duraderas. Valoramos la confianza que depositas en nosotros para proporcionarte 
          productos que garanticen la seguridad y eficiencia de tu vehículo. A lo largo de los años, hemos cultivado una reputación sólida gracias a la satisfacción de nuestros 
          clientes y a nuestro compromiso con la excelencia.
          
          Gracias por confiar en Neumáticos Santiago para todas tus necesidades de neumáticos y llantas. Estamos emocionados de ser tu socio confiable en el viaje de mantener 
          tu vehículo en su mejor forma. ¡Descubre la diferencia que hacemos en cada kilómetro!
        </p>
      </div>
    </section>
    

    </section>
        <div class="local-container">
            <h1 class="title">El local</h1>
            <img class="local" src="./img/neumasgolocal_20231011_1942.jpg" alt="local">
        </div>
        <br>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>
</html>