<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/css/servicios.css">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <div>
            <h1>Servicios</h1>
            <hr>
        </div>

        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                
              <button class="nav-link active" id="v-pills-alineado-tab" data-bs-toggle="pill" data-bs-target="#v-pills-alineado" type="button" role="tab" 
              aria-controls="v-pills-alineado" aria-selected="true">Alineado y Balanceo</button>

              <button class="nav-link" id="v-pills-service-tab" data-bs-toggle="pill" data-bs-target="#v-pills-service" type="button" role="tab" 
              aria-controls="v-pills-service" aria-selected="false">Service completo</button>

              <button class="nav-link" id="v-pills-suspension-tab" data-bs-toggle="pill" data-bs-target="#v-pills-suspension" type="button" role="tab" 
              aria-controls="v-pills-suspension" aria-selected="false">Suspensión</button>

              <button class="nav-link" id="v-pills-frenos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-frenos" type="button" role="tab" 
              aria-controls="v-pills-frenos" aria-selected="false">Frenos</button>

              <button class="nav-link" id="v-pills-escaneo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-escaneo" type="button" role="tab" 
              aria-controls="v-pills-escaneo" aria-selected="false">Escaneo Automotriz</button>
            </div>

            <div class="tab-content" id="v-pills-tabContent">
            
              <div class="tab-pane fade show active" id="v-pills-alineado" role="tabpanel" aria-labelledby="v-pills-alineado-tab" tabindex="0">
                <h2>Alineado</h2>
                <img src="../img/alinear_bridgestone.png" class="alinear" alt="Alineado">
                <p>
                    Garantizamos que las ruedas de tu vehículo estén correctamente alineadas y balanceadas para un manejo suave y seguro. 
                    Se recomienda realizar la alineación de neumáticos dos veces al año. Aunque esto, no es una ciencia cierta, ya que cada vehículo es diferente.
                    Por lo que te sugerimos consultar en el manual del fabricante, el tiempo estimado para hacerlo.
                </p>
                <p>
                    De igual manera, se recomiendan alinear ambos ejes del auto, es decir la parte delantera y la trasera. ¿Por qué los dos y no solo uno? 
                Si uno de los neumáticos está un poco abierto, cerrado o con una diferente inclinación, además de que crea un mayor desgaste sobre los 
                otros neumáticos, ocasiona que el vehículo se comporte errático, es decir, que no sea tan preciso en sus movimientos, trayendo 
                como consecuencia accidentes automovilísticos.
                </p> 
                <p>
                    Por seguridad o durabilidad de los neumáticos es importante hacer estas alineaciones. ¡No te olvides! De esta manera, tu vehículo 
                será más seguro y el desgaste más parejo en tus cubiertas.
                </p>
                <h2>Balanceo</h2>
                <p>
                    Ahora bien, en cuanto al balanceo, es muy fácil sentir cuando el auto está mal balanceado. Al llegar a ciertas velocidades sentirás en el volante 
                la vibración del vehículo, esto significa que la cubierta tiene un “abultamiento” o que los neumáticos están desbalanceados. Lo recomendable 
                es verificar cuál de las dos causas es. Si es un abultamiento, cambia el neumático. Es importante saber que las cubiertas se cambian por par, 
                si la cubierta trasera izquierda tiene este problema, tendrás que cambiar de igual manera la derecha. Si está desbalanceado, balancearlo. 
                Así se evitará un desgaste irregular del neumático, además de no sentir esa molestia de las vibraciones en el volante. Otro beneficio del balanceo, 
                es que se economiza un poco la gasolina porque la cubierta tiene un buen agarre en el piso y no va bailando.
                </p>
                <p>
                    Por todo esto, es importante que no te olvides de realizar a tu vehículo la alineación y balanceo.
                </p>
                </div>

              <div class="tab-pane fade" id="v-pills-service" role="tabpanel" aria-labelledby="v-pills-service-tab" tabindex="0">
                <h2>Service completo</h2>
                <img src="../img/service.jpg" class="img-service" alt="service">
                <p>
                    Nuestros expertos realizan servicios completos para mantener el motor de tu automóvil en óptimas condiciones, garantizando su rendimiento y durabilidad.
                </p>
                <p>                
                    La ventaja principal de hacer el service en nuestro taller es que contamos con:
                    <ul>
                        <li><i class="fa-solid fa-check"></i>Parámetros ya establecidos por las marcas para mantener los estándares de calidad y control del estado de toda 
                            la unidad.</li>
                        <li><i class="fa-solid fa-check"></i>Contamos con mecánicos entrenados en forma constante, por lo que siempre están actualizados en cuanto a modelos, 
                            maquinaria y tecnología, sobre todo si deben trabajar con los más modernos.</li>
                        <li><i class="fa-solid fa-check"></i>Contamos con repuestos y fluídos originales y conocimiento de todas las piezas, su configuración ideal, 
                            duración promedio y uso recomendado.</li>
                    </ul>
                </p>

                <p>
                    <h3>¿Qué incluye un service?</h3>
                    Por lo general, los service incluyen el chequeo de correas/cadena de distribución, filtro de aire, estado de neumáticos y presión, 
                    fluidos hidráulicos y de frenos, cambio de aceite del motor y cambio de filtro de aceite, por lo que:
                </p>
                <p>
                    <ul>
                        <li><i class="fa-solid fa-exclamation"></i>Se debe revisar la presión de inflado de las llantas y el desgaste de la banda de rodamiento 
                            de cada una de ellas.</li>
                        <li><i class="fa-solid fa-exclamation"></i>También se deben rotar las ruedas del vehículo para evitar accidentes de tránsito y el 
                            desgaste prematuro de las llantas.</li>
                        <li><i class="fa-solid fa-exclamation"></i>Cada 10.000 kilómetros, es obligatorio realizar alineación y balanceo a las llantas.</li>
                        <li><i class="fa-solid fa-exclamation"></i>Se recomienda cambiar el aceite y filtros cada 10.000 kms con aceites sintéticos, y cada 5.000 kms 
                            cuando el aceite es mineral. Los aceites minerales son propensos a perder rápidamente sus propiedades, comprometiendo el desempeño y 
                            la integridad de tu motor. Mientras que la tecnología molecular y el mayor grado de refinación de los lubricantes sintéticos ayuda a reducir 
                            el número de cambios, por ende las propiedades del aceite se mantienen óptimas por más tiempo.</li>
                        <li><i class="fa-solid fa-exclamation"></i>A los 30.000 kilómetros es fundamental realizar la primera inspección a las pastillas 
                            de frenos del vehículo.</li>
                    </ul>
              </p>
              <p>
                En general, se recomienda revisar el vehículo desde afuera hacia adentro, comenzando por el estado de las cubiertas. Después, se debe seguir con el 
                tren delantero, frenos, líquido refrigerante y así sucesivamente.
              </p>
              </div>
              <div class="tab-pane fade" id="v-pills-suspension" role="tabpanel" aria-labelledby="v-pills-suspension-tab" tabindex="0">
                <h2>Suspensión</h2>
                <img src="../img/taller_audi.jpeg" class="img-audi" alt="audi">
                <img src="../img/taller_vento.jpeg" class="img-vento" alt="vento">
                <p>
                    En Neumáticos Santiago ofrecemos servicios de diagnóstico y reparación de sistemas de suspensión para garantizar una conducción cómoda y segura.
                </p>
                <p>El mantenimiento de la suspensión de un automóvil es crucial para garantizar un manejo seguro y cómodo. La suspensión juega un papel fundamental 
                al absorber impactos, mantener el contacto de las ruedas con la carretera y proporcionar estabilidad durante la conducción.
                </p>  
                <p>Cuando se presentan problemas en la suspensión, como ruidos extraños, vibraciones inusuales o un desgaste irregular de los neumáticos, 
                es imperativo abordarlos de inmediato. La reparación de la suspensión implica diagnosticar y corregir cualquier fallo en componentes como amortiguadores, 
                resortes, parrillas, bieletas, precas, bujes, entre otros.
                </p>
                <p>
                En Neumáticos Santiago realizamos una inspección exhaustiva para identificar los elementos defectuosos y determinar si es necesario reemplazarlos o repararlos.
                La calidad de los repuestos y la mano de obra experta son fundamentales en el proceso de reparación de la suspensión. Utilizar piezas originales 
                o de alta calidad garantiza durabilidad y rendimiento óptimo.
                </p>
                
                <p>  
                Asimismo, contar con técnicos especializados en suspensión automotriz asegura que el trabajo se realice de manera eficiente y conforme a los estándares de seguridad.
                En resumen, la reparación de la suspensión de un automóvil es esencial para mantener un manejo seguro, confortable y eficiente. Ante cualquier indicio 
                de problemas en la suspensión, es recomendable acudir a nuestro taller especializado para una evaluación profesional y la realización de las reparaciones necesarias.
                </p>
                </div>
                <div class="tab-pane fade" id="v-pills-frenos" role="tabpanel" aria-labelledby="v-pills-frenos-tab" tabindex="0">
                    <h2>Frenos</h2>
                    <img src="../img/bmw_wheel.png" class="img-bmw-wheel" alt="wheel">
                    <p>
                        Nuestros técnicos expertos se encargan del mantenimiento y reparación de sistemas de frenos para asegurar una respuesta eficiente y segura al frenar.
                    </p>
                    <p>
                        El mantenimiento adecuado de los frenos implica realizar inspecciones periódicas para evaluar el estado de los discos, pastillas, calipers y el 
                        sistema hidráulico. Si se detectan desgastes excesivos, grietas o irregularidades, es fundamental abordar estos problemas de inmediato. 
                        Además, se debe prestar atención a cualquier ruido inusual, vibración o pérdida de eficiencia al frenar, ya que estos pueden ser signos 
                        de desgaste o mal funcionamiento.
                    </p>
                    <p>
                        El cambio regular de las pastillas de freno es una parte esencial del mantenimiento preventivo. Las pastillas desgastadas pueden afectar negativamente 
                        el rendimiento de frenado y aumentar la distancia de frenado. También es importante verificar el nivel y la calidad del líquido de frenos, ya que 
                        un nivel bajo o un líquido deteriorado pueden comprometer la eficacia del sistema.
                    </p>
                    <p>
                        En el caso de los frenos de disco, la limpieza de los componentes y la inspección de los discos son prácticas recomendadas para garantizar 
                        un contacto adecuado y evitar el desgaste prematuro. En los frenos de tambor, se debe verificar la integridad de los componentes y ajustar 
                        el sistema según sea necesario.
                    </p>
                </div>
              <div class="tab-pane fade" id="v-pills-escaneo" role="tabpanel" aria-labelledby="v-pills-escaneo-tab" tabindex="0">Realizamos escaneo automotriz 
                avanzado para detectar y solucionar problemas electrónicos en el vehículo, garantizando un rendimiento óptimo.</div>
            </div>
        </div>
    </div>

    
    
    
    
    <%- include('./partials/footer.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
