
<h2 class="description-partial-h2">Descripción</h2>
<div class="description-partial">
    <h5>Eximia Pininfarina Sport</h5>
    <p>
        Diseñado para responder a las más altas exigencias de los automóviles, tanto en los aspectos de seguridad y confort como en la manejabilidad. 
        Es un neumático equilibrado y seguro, transmitiéndolo al conductor en todas las circunstancias de manejo. Eximia by Pininfarina Sport 
        es un diseño destinado para vehículos de altas prestaciones.
    </p>
    <p>
        Prestaciones:
        <br>
        Seguridad de marcha.
        Excelente adherencia sobre suelos secos y mojados.
        Robustez ante las exigencias de nuestros caminos.
        Diseño asimétrico.
    </p>
    <p>
        Usos:
        <br>
        Pavimento
    </p>
    <p>
        Velocidades:
        <br>
        Rango W: hasta 270 Km/h
        <br>
        Rango Y : hasta 300 Km/h
    </p>
    <p>
        Recomendaciones:
        <br>
        Revise periódicamente la presión de inflado de sus neumáticos y respete los valores indicados por el fabricante del vehículo.
        La carga máxima por neumático indicada en la tabla que figura a continuación, se alcanza con una presión de 36 psi (2,5 bar).
        La presión máxima de inflado nunca debe exceder 44 psi (3.0 bar).
    </p>
    <p>
        Medidas
        <br>
        <ul class="medidas">
            <li><i class="fa-solid fa-check"></i> 205/40 R17</li>
            <li><i class="fa-solid fa-check"></i> 215/45 R17</li>
            <li><i class="fa-solid fa-check"></i> 215/50 R17</li>
            <li><i class="fa-solid fa-check"></i> 225/40 R18</li>
            <li><i class="fa-solid fa-check"></i> 225/45 R17</li>
            <li><i class="fa-solid fa-check"></i> 225/50 R17</li>
            <li><i class="fa-solid fa-check"></i> 235/45 R17</li>
            <li><i class="fa-solid fa-check"></i> 235/45 R18</li>
        </ul>
    </p>
</div>
