
<h2 class="description-partial-h2">Descripción</h2>
<div class="description-partial">
    <h5>Prestiva</h5>
    <p>
        Un neumático equilibrado que brinda la máxima seguridad y confiabilidad, atendiendo los requerimientos 
        de durabilidad y confort de marcha en un segmento dominado por usuarios particulares. Una actualización 
        de la paleta de productos para un mercado en constante evolución.
    </p>
    <p>
        Prestaciones:
        <br>
        Excelente rendimiento kilométrico
        Doble cintura de cordones de acero.
        Confort de marcha.
    </p>
    <p>
        Usos:
        <br>
        Pavimento
    </p>
    <p>
        Velocidades:
        <br>
        Rango T: hasta 190 km/h
    </p>
    <p>
        Recomendaciones:
        <br>
        Revise periódicamente la presión de inflado de sus neumáticos y respete los valores indicados por el fabricante del vehículo.
        La carga máxima por neumático indicada en la tabla que figura a continuación, se alcanza con una presión de 36 psi (2,5 bar).
        La presión máxima de inflado nunca debe exceder 44 psi (3.0 bar).
    </p>
    <p>
        Medidas
        <br>
        <ul>
            <li><i class="fa-solid fa-check"></i> 165/70 R13</li>
            <li><i class="fa-solid fa-check"></i> 175/65 R14</li>
            <li><i class="fa-solid fa-check"></i> 175/70 R13</li>
            <li><i class="fa-solid fa-check"></i> 175/70 R14</li>
            <li><i class="fa-solid fa-check"></i> 185/70 R13</li>
            <li><i class="fa-solid fa-check"></i> 185/70 R14</li>
        </ul>
    </p>
</div>
