
    <h2 class="description-partial-h2">Descripci칩n</h2>
    <div class="description-partial">
        <h5>Sentiva</h5>
        Un neumatico equilibrado que brinda la m치xima seguridad y confiabilidad, atendiendo 
        los requerimientos de durabilidad y confort de marcha en un segmento dominado 
        por usuarios particulares. Una actualizaci칩n de la paleta de productos para un 
        mercado en constante evoluci칩n.
    </div>
